[Unit]
Description=Geyser Proxy for Client Version %i
After=network.target

[Service]
WorkingDirectory=/opt/geyser/geyser-%i

User=geyser
Group=geyser

Restart=always

ExecStart=/usr/bin/screen -DmS geyser-%i /usr/bin/java -Xms{{ geyser_mem_start }} -Xmx{{ geyser_mem_max }} -XX:+UseG1GC -XX:+ParallelRefProcEnabled -XX:MaxGCPauseMillis=200 -XX:+UnlockExperimentalVMOptions -XX:+DisableExplicitGC -XX:+AlwaysPreTouch -XX:G1NewSizePercent=30 -XX:G1MaxNewSizePercent=40 -XX:G1HeapRegionSize=8M -XX:G1ReservePercent=20 -XX:G1HeapWastePercent=5 -XX:G1MixedGCCountTarget=4 -XX:InitiatingHeapOccupancyPercent=15 -XX:G1MixedGCLiveThresholdPercent=90 -XX:G1RSetUpdatingPauseTimePercent=5 -XX:SurvivorRatio={{ geyser_survivor_ratio }} -XX:+PerfDisableSharedMem -XX:MaxTenuringThreshold=1 -Dusing.aikars.flags=https://mcflags.emc.gs -Daikars.new.flags=true  -jar Geyser.jar nogui

[Install]
WantedBy=multi-user.target

