bedrock:
  address: 193.34.69.196
  port: 2004
  clone-remote-port: false
  motd1: "GeyserMC Crossplay Server"
  motd2: "Hosted by ZAP-Hosting.com"
  server-name: "Geyser"
  compression-level: 6
  enable-proxy-protocol: false
remote:
  address: auto
  port: 25565
  auth-type: floodgate
  allow-password-authentication: true
  use-proxy-protocol: false
  forward-hostname: false
floodgate-key-file: key.pem
saved-user-logins:
  - ThisExampleUsernameShouldBeLongEnoughToNeverBeAnXboxUsername
  - ThisOtherExampleUsernameShouldAlsoBeLongEnough
pending-authentication-timeout: 120
command-suggestions: true
passthrough-motd: false
passthrough-protocol-name: false
passthrough-player-counts: false
legacy-ping-passthrough: false
ping-passthrough-interval: 3
forward-player-ping: false
max-players: 12
debug-mode: false
allow-third-party-capes: true
allow-third-party-ears: false
show-cooldown: title
show-coordinates: true
disable-bedrock-scaffolding: false
always-quick-change-armor: false
emote-offhand-workaround: disabled
cache-images: 0
allow-custom-skulls: true
max-visible-custom-skulls: 128
custom-skull-render-distance: 32
add-non-bedrock-items: true
above-bedrock-nether-building: false
force-resource-packs: true
xbox-achievements-enabled: false
metrics:
  enabled: true
  uuid: ba89c017-65b6-4b0e-8d18-0a3bd12ba37c
scoreboard-packet-threshold: 20
enable-proxy-connections: false
mtu: 1400
use-direct-connection: true
config-version: 4
